In [1]:
## Module import
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
## Data import
data_loc = '../Data/'
df = pd.read_csv(data_loc + 'bitcoin.csv')

/Users/vishaljha/anaconda3/envs/ai/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0,1,2,3,11,12,15,20,22) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1485236351649914881,1484995162187182082,1642942915000.0,2022-01-23 18:31:55,530.0,NaN,@NFDoges Thank you for the airdrop opportunity...,en,"['bitcoincrash', 'cardanoada', 'crypto', 'bitc...",...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'NFDoges', 'name': 'Non-Fungi...",NaN,NaN,NaN,NaN
1,1,1485236349049491460,1485236349049491460,1642942914000.0,2022-01-23 18:31:54,530.0,NaN,"Imo this is how #bitcoin looks now, isn't the ...",en,['bitcoin'],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,2,1485236346700632067,1485236346700632067,1642942914000.0,2022-01-23 18:31:54,530.0,NaN,Voilà pourquoi ma principale stratégie sur les...,fr,"['bnb', 'cro', 'chsb', 'bitcoin', 'cryptomonna...",...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,3,1485236340807585798,1485236340807585798,1642942912000.0,2022-01-23 18:31:52,530.0,NaN,While 2020 and 2021 are considered the years o...,en,['bitcoin'],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,4,1485236339419361282,1485236339419361282,1642942912000.0,2022-01-23 18:31:52,530.0,NaN,#bitcoin crash wipes billions off crypto marke...,en,['bitcoin'],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [4]:
## Drop columns 
drop_cols = ['Unnamed: 0', 'id', 'conversation_id', 'created_at', 'place', 'cashtags', 'user_id', 'user_id_str', 'link', 'urls', 'photos', 'video', 'thumbnail', 'quote_url', 'search', 'near', 'geo', 'source', 'user_rt_id', 'user_rt', 'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src', 'trans_dest']
df.drop(drop_cols, axis=1, inplace=True)

In [5]:
df.head()

,date,timezone,tweet,language,hashtags,username,name,day,hour,retweet,nlikes,nreplies,nretweets
0,2022-01-23 18:31:55,530.0,@NFDoges Thank you for the airdrop opportunity...,en,"['bitcoincrash', 'cardanoada', 'crypto', 'bitc...",MehdiGh1452,Mehdi Ghorbani,7,18.0,False,0.0,0.0,0.0
1,2022-01-23 18:31:54,530.0,"Imo this is how #bitcoin looks now, isn't the ...",en,['bitcoin'],tommypicles,This is tom 🕙 (The dog of wall street),7,18.0,False,0.0,0.0,0.0
2,2022-01-23 18:31:54,530.0,Voilà pourquoi ma principale stratégie sur les...,fr,"['bnb', 'cro', 'chsb', 'bitcoin', 'cryptomonna...",TimiTimi1313,TimiTimi1313🇨🇭,7,18.0,False,0.0,0.0,0.0
3,2022-01-23 18:31:52,530.0,While 2020 and 2021 are considered the years o...,en,['bitcoin'],AvicennaCapital,Avicenna capital,7,18.0,False,0.0,0.0,0.0
4,2022-01-23 18:31:52,530.0,#bitcoin crash wipes billions off crypto marke...,en,['bitcoin'],bitcoinagile,BitcoinAgile,7,18.0,False,0.0,0.0,0.0

In [6]:
## DATA INFO
def data_info(data):
    display(data.head())
    print()

    display(data.tail())
    print()

    display(data.shape)
    print()

    display(data.info())
    print()

    try:
        display(data.select_dtypes(include=['object']).describe())
        print()
    except:
        print('No object data')
        print()
    finally:
        display(data.describe())
        print()
    
    display(data.isna().sum())
    print()

    total_missing_values = data.isna().sum().sum()
    total_cells = np.product(data.shape)

    print(f'Total missing values: {total_missing_values}')
    print(f'Total cells: {total_cells}')
    print(f'Percentage of missing values: {total_missing_values / total_cells * 100}')

In [7]:
data_info(df)

,date,timezone,tweet,language,hashtags,username,name,day,hour,retweet,nlikes,nreplies,nretweets
0,2022-01-23 18:31:55,530.0,@NFDoges Thank you for the airdrop opportunity...,en,"['bitcoincrash', 'cardanoada', 'crypto', 'bitc...",MehdiGh1452,Mehdi Ghorbani,7,18.0,False,0.0,0.0,0.0
1,2022-01-23 18:31:54,530.0,"Imo this is how #bitcoin looks now, isn't the ...",en,['bitcoin'],tommypicles,This is tom 🕙 (The dog of wall street),7,18.0,False,0.0,0.0,0.0
2,2022-01-23 18:31:54,530.0,Voilà pourquoi ma principale stratégie sur les...,fr,"['bnb', 'cro', 'chsb', 'bitcoin', 'cryptomonna...",TimiTimi1313,TimiTimi1313🇨🇭,7,18.0,False,0.0,0.0,0.0
3,2022-01-23 18:31:52,530.0,While 2020 and 2021 are considered the years o...,en,['bitcoin'],AvicennaCapital,Avicenna capital,7,18.0,False,0.0,0.0,0.0
4,2022-01-23 18:31:52,530.0,#bitcoin crash wipes billions off crypto marke...,en,['bitcoin'],bitcoinagile,BitcoinAgile,7,18.0,False,0.0,0.0,0.0

,date,timezone,tweet,language,hashtags,username,name,day,hour,retweet,nlikes,nreplies,nretweets
33000,2022-01-23 12:37:52,530.0,Bitcoin 1-day social activity: Galaxy Score™ ...,en,['bitcoin'],Shabana6878,Shabana,7,12.0,False,0.0,1.0,0.0
33001,2022-01-23 12:37:51,530.0,@RaoulGMI Previous cycles at 800 days before t...,en,[],DavidNe40147854,David Neves,7,12.0,False,0.0,0.0,0.0
33002,2022-01-23 12:37:50,530.0,@glyph @eevee @jlazaroff Also needs to learn B...,en,[],NickADobos,Nick Dobos,7,12.0,False,0.0,1.0,0.0
33003,2022-01-23 12:37:45,530.0,Opinion: Does Bitcoin Magazine create valuable...,en,[],WahyuAnbu,Wahyu,7,12.0,False,0.0,0.0,0.0
33004,2022-01-23 12:37:42,530.0,Bitcoinスワップうんちだな…,ja,[],youbunbun258,ようぶん,7,12.0,False,1.0,0.0,0.0

(33005, 13)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33005 entries, 0 to 33004
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       33004 non-null  object
 1   timezone   33004 non-null  float64
 2   tweet      33004 non-null  object
 3   language   17743 non-null  object
 4   hashtags   17743 non-null  object
 5   username   17743 non-null  object
 6   name       17743 non-null  object
 7   day        17743 non-null  object
 8   hour       17743 non-null  float64
 9   retweet    17741 non-null  object
 10  nlikes     17741 non-null  float64
 11  nreplies   17741 non-null  float64
 12  nretweets  17741 non-null  float64
dtypes: float64(5), object(8)
memory usage: 3.3+ MB

None

,date,tweet,language,hashtags,username,name,day,retweet
count,33004,33004,17743,17743,17743,17743,17743,17741
unique,11671,17417,48,3514,9954,9804,3,1
top,2022-01-23 12:43:49,Kripto piyasasında şok dalgası!,en,[],bmurphypointman,Brett Murphy,7,False
freq,15260,15260,12345,7216,435,435,16384,17741

           timezone          hour        nlikes      nreplies     nretweets
count  3.300400e+04  17743.000000  17741.000000  17741.000000  17741.000000
mean   4.454143e+13     15.153976      4.899724      1.157883      0.900118
std    8.091842e+15      1.698025     61.445542     11.539835     21.159313
min    5.300000e+02      0.000000      0.000000      0.000000      0.000000
25%    5.300000e+02     14.000000      0.000000      0.000000      0.000000
50%    5.300000e+02     15.000000      0.000000      0.000000      0.000000
75%    5.300000e+02     17.000000      1.000000      1.000000      0.000000
max    1.470045e+18     18.000000   5583.000000    733.000000   1926.000000

date             1
timezone         1
tweet            1
language     15262
hashtags     15262
username     15262
name         15262
day          15262
hour         15262
retweet      15264
nlikes       15264
nreplies     15264
nretweets    15264
dtype: int64

Total missing values: 152631
Total cells: 429065
Percentage of missing values: 35.57293184016408

In [8]:
## Drop rows where language is not english
df = df[df['language'] == 'en']
df.head()

,date,timezone,tweet,language,hashtags,username,name,day,hour,retweet,nlikes,nreplies,nretweets
0,2022-01-23 18:31:55,530.0,@NFDoges Thank you for the airdrop opportunity...,en,"['bitcoincrash', 'cardanoada', 'crypto', 'bitc...",MehdiGh1452,Mehdi Ghorbani,7,18.0,False,0.0,0.0,0.0
1,2022-01-23 18:31:54,530.0,"Imo this is how #bitcoin looks now, isn't the ...",en,['bitcoin'],tommypicles,This is tom 🕙 (The dog of wall street),7,18.0,False,0.0,0.0,0.0
3,2022-01-23 18:31:52,530.0,While 2020 and 2021 are considered the years o...,en,['bitcoin'],AvicennaCapital,Avicenna capital,7,18.0,False,0.0,0.0,0.0
4,2022-01-23 18:31:52,530.0,#bitcoin crash wipes billions off crypto marke...,en,['bitcoin'],bitcoinagile,BitcoinAgile,7,18.0,False,0.0,0.0,0.0
5,2022-01-23 18:31:51,530.0,@binance Bitcoin,en,[],MrINDIA37810717,Mr INDIA,7,18.0,False,0.0,0.0,0.0

In [9]:
## Drop cols
df.drop(['language', 'username', 'name', 'day', 'hour', 'retweet', 'hashtags'], axis=1, inplace=True)
df.head()

,date,timezone,tweet,nlikes,nreplies,nretweets
0,2022-01-23 18:31:55,530.0,@NFDoges Thank you for the airdrop opportunity...,0.0,0.0,0.0
1,2022-01-23 18:31:54,530.0,"Imo this is how #bitcoin looks now, isn't the ...",0.0,0.0,0.0
3,2022-01-23 18:31:52,530.0,While 2020 and 2021 are considered the years o...,0.0,0.0,0.0
4,2022-01-23 18:31:52,530.0,#bitcoin crash wipes billions off crypto marke...,0.0,0.0,0.0
5,2022-01-23 18:31:51,530.0,@binance Bitcoin,0.0,0.0,0.0

In [10]:
## Function to seperate date and time from date column
def seperate_date_time(date):
    date_split = date.split(' ')
    date_ = date_split[0]
    time = date_split[1]
    return date_, time

df['date_'], df['time'] = zip(*df['date'].apply(seperate_date_time))
df.head()

,date,timezone,tweet,nlikes,nreplies,nretweets,date_,time
0,2022-01-23 18:31:55,530.0,@NFDoges Thank you for the airdrop opportunity...,0.0,0.0,0.0,2022-01-23,18:31:55
1,2022-01-23 18:31:54,530.0,"Imo this is how #bitcoin looks now, isn't the ...",0.0,0.0,0.0,2022-01-23,18:31:54
3,2022-01-23 18:31:52,530.0,While 2020 and 2021 are considered the years o...,0.0,0.0,0.0,2022-01-23,18:31:52
4,2022-01-23 18:31:52,530.0,#bitcoin crash wipes billions off crypto marke...,0.0,0.0,0.0,2022-01-23,18:31:52
5,2022-01-23 18:31:51,530.0,@binance Bitcoin,0.0,0.0,0.0,2022-01-23,18:31:51

In [11]:
## Export data
df.to_csv(data_loc + 'bitcoin_cleaned.csv', index=False)