In [2]:
## Module import
import pandas as pd
import numpy as np 

import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
## Data import
data_loc = '../Data/'
df = pd.read_csv(data_loc + 'dogecoin.csv')

In [14]:
df.head()

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1487938634544254976,1487938634544254976,1.643587e+12,2022-01-31 05:29:49,530,NaN,#ShibDoge The first community driven token cre...,en,"['shibdoge', 'shib', 'doge']",...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1,1487938594178314243,1487938594178314243,1.643587e+12,2022-01-31 05:29:40,530,NaN,January is over and what’s up #dogecoin what’s...,en,['dogecoin'],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,2,1487938593205022726,1487886111686987780,1.643587e+12,2022-01-31 05:29:39,530,NaN,@BurgerKingUK What I’m telling you is that the...,en,"['acceptdoge', 'dogecoin']",...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'BurgerKingUK', 'name': 'Burg...",NaN,NaN,NaN,NaN
3,3,1487938508891242497,1487586130442731521,1.643587e+12,2022-01-31 05:29:19,530,NaN,@CryptoWhale #dogecoin and #solana,und,"['dogecoin', 'solana']",...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'CryptoWhale', 'name': 'Mr. W...",NaN,NaN,NaN,NaN
4,4,1487938496505516035,1487938496505516035,1.643587e+12,2022-01-31 05:29:16,530,NaN,You should be mega proud of yourself and your ...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [15]:
## Drop columns 
drop_cols = ['Unnamed: 0', 'id', 'conversation_id', 'created_at', 'place', 'cashtags', 'user_id', 'user_id_str', 'link', 'urls', 'photos', 'video', 'thumbnail', 'quote_url', 'search', 'near', 'geo', 'source', 'user_rt_id', 'user_rt', 'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src', 'trans_dest']
df.drop(drop_cols, axis=1, inplace=True)

In [16]:
df.head()

,date,timezone,tweet,language,hashtags,username,name,day,hour,retweet,nlikes,nreplies,nretweets
0,2022-01-31 05:29:49,530,#ShibDoge The first community driven token cre...,en,"['shibdoge', 'shib', 'doge']",Desireeolaechea,🚀DiamondWarrior🚀,1,5,False,2,0,1
1,2022-01-31 05:29:40,530,January is over and what’s up #dogecoin what’s...,en,['dogecoin'],RAVINE7,CRIS CR,1,5,False,0,0,0
2,2022-01-31 05:29:39,530,@BurgerKingUK What I’m telling you is that the...,en,"['acceptdoge', 'dogecoin']",RnoHach,R.No 🐾,1,5,False,4,0,0
3,2022-01-31 05:29:19,530,@CryptoWhale #dogecoin and #solana,und,"['dogecoin', 'solana']",THEF0X007,THE FOX,1,5,False,4,1,1
4,2022-01-31 05:29:16,530,You should be mega proud of yourself and your ...,en,[],swayzepunkz,₿*,1,5,False,0,0,0

In [17]:
## DATA INFO
def data_info(data):
    display(data.head())
    print()

    display(data.tail())
    print()

    display(data.shape)
    print()

    display(data.info())
    print()

    try:
        display(data.select_dtypes(include=['object']).describe())
        print()
    except:
        print('No object data')
        print()
    finally:
        display(data.describe())
        print()
    
    display(data.isna().sum())
    print()

    total_missing_values = data.isna().sum().sum()
    total_cells = np.product(data.shape)

    print(f'Total missing values: {total_missing_values}')
    print(f'Total cells: {total_cells}')
    print(f'Percentage of missing values: {total_missing_values / total_cells * 100}')

In [18]:
data_info(df)

,date,timezone,tweet,language,hashtags,username,name,day,hour,retweet,nlikes,nreplies,nretweets
0,2022-01-31 05:29:49,530,#ShibDoge The first community driven token cre...,en,"['shibdoge', 'shib', 'doge']",Desireeolaechea,🚀DiamondWarrior🚀,1,5,False,2,0,1
1,2022-01-31 05:29:40,530,January is over and what’s up #dogecoin what’s...,en,['dogecoin'],RAVINE7,CRIS CR,1,5,False,0,0,0
2,2022-01-31 05:29:39,530,@BurgerKingUK What I’m telling you is that the...,en,"['acceptdoge', 'dogecoin']",RnoHach,R.No 🐾,1,5,False,4,0,0
3,2022-01-31 05:29:19,530,@CryptoWhale #dogecoin and #solana,und,"['dogecoin', 'solana']",THEF0X007,THE FOX,1,5,False,4,1,1
4,2022-01-31 05:29:16,530,You should be mega proud of yourself and your ...,en,[],swayzepunkz,₿*,1,5,False,0,0,0

,date,timezone,tweet,language,hashtags,username,name,day,hour,retweet,nlikes,nreplies,nretweets
10000,2022-01-29 19:50:40,530,"Cardano (#ADA): R$ 5,80 | U$ 1,08 | U$ 24hrs: ...",und,"['ada', 'doge', 'eth', 'xmr']",precoaltcoins,preço das altcoins 🤖,6,19,False,1,1,0
10001,2022-01-29 19:50:21,530,People have turned wild speculation into relig...,en,"['dogecoin', 'bitcoin', 'shibarmy']",nomorenoise3,nomorenoise,6,19,False,1,5,0
10002,2022-01-29 19:50:19,530,@hareeskanth @elonmusk @BillyM2k @DogecoinRide...,und,[],Doge_YOG,Doge_YoG📈🚀,6,19,False,2,0,0
10003,2022-01-29 19:50:10,530,"Shiba Inu, Dogecoin, BNB coin, Ethereum, Bitco...",en,[],AliPk7332,Mohammad Ali,6,19,False,0,2,0
10004,2022-01-29 19:50:08,530,@CobyRobins @elonmusk @BillyM2k @DogecoinRide ...,und,[],Doge_YOG,Doge_YoG📈🚀,6,19,False,1,1,0

(10005, 13)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10005 entries, 0 to 10004
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       10005 non-null  object
 1   timezone   10005 non-null  int64
 2   tweet      10005 non-null  object
 3   language   10005 non-null  object
 4   hashtags   10005 non-null  object
 5   username   10005 non-null  object
 6   name       10005 non-null  object
 7   day        10005 non-null  int64
 8   hour       10005 non-null  int64
 9   retweet    10005 non-null  bool
 10  nlikes     10005 non-null  int64
 11  nreplies   10005 non-null  int64
 12  nretweets  10005 non-null  int64
dtypes: bool(1), int64(6), object(6)
memory usage: 947.9+ KB

None

,date,tweet,language,hashtags,username,name
count,10005,10005,10005,10005,10005,10005
unique,9225,9720,35,2570,3978,3950
top,2022-01-31 03:39:32,#dogecoin,en,[],bmurphypointman,Brett Murphy
freq,5,33,7304,3679,1149,1149

,timezone,day,hour,nlikes,nreplies,nretweets
count,10005.0,10005.000000,10005.000000,10005.000000,10005.000000,10005.000000
mean,530.0,5.756722,11.465667,10.571114,1.817191,2.396802
std,0.0,2.279103,8.279742,114.511450,38.852746,29.453151
min,530.0,1.000000,0.000000,0.000000,0.000000,0.000000
25%,530.0,6.000000,3.000000,0.000000,0.000000,0.000000
50%,530.0,7.000000,11.000000,1.000000,0.000000,0.000000
75%,530.0,7.000000,20.000000,2.000000,1.000000,0.000000
max,530.0,7.000000,23.000000,6487.000000,3495.000000,2414.000000

date         0
timezone     0
tweet        0
language     0
hashtags     0
username     0
name         0
day          0
hour         0
retweet      0
nlikes       0
nreplies     0
nretweets    0
dtype: int64

Total missing values: 0
Total cells: 130065
Percentage of missing values: 0.0

In [19]:
## Drop rows where language is not english
df = df[df['language'] == 'en']
df.head()

,date,timezone,tweet,language,hashtags,username,name,day,hour,retweet,nlikes,nreplies,nretweets
0,2022-01-31 05:29:49,530,#ShibDoge The first community driven token cre...,en,"['shibdoge', 'shib', 'doge']",Desireeolaechea,🚀DiamondWarrior🚀,1,5,False,2,0,1
1,2022-01-31 05:29:40,530,January is over and what’s up #dogecoin what’s...,en,['dogecoin'],RAVINE7,CRIS CR,1,5,False,0,0,0
2,2022-01-31 05:29:39,530,@BurgerKingUK What I’m telling you is that the...,en,"['acceptdoge', 'dogecoin']",RnoHach,R.No 🐾,1,5,False,4,0,0
4,2022-01-31 05:29:16,530,You should be mega proud of yourself and your ...,en,[],swayzepunkz,₿*,1,5,False,0,0,0
6,2022-01-31 05:28:45,530,"@Gotteeth23 Typical Dogecoin supporter, you ne...",en,[],JIllgas02,Joey.sfm,1,5,False,0,0,0

In [20]:
## Drop cols
df.drop(['language', 'username', 'name', 'day', 'hour', 'retweet', 'hashtags'], axis=1, inplace=True)
df.head()

,date,timezone,tweet,nlikes,nreplies,nretweets
0,2022-01-31 05:29:49,530,#ShibDoge The first community driven token cre...,2,0,1
1,2022-01-31 05:29:40,530,January is over and what’s up #dogecoin what’s...,0,0,0
2,2022-01-31 05:29:39,530,@BurgerKingUK What I’m telling you is that the...,4,0,0
4,2022-01-31 05:29:16,530,You should be mega proud of yourself and your ...,0,0,0
6,2022-01-31 05:28:45,530,"@Gotteeth23 Typical Dogecoin supporter, you ne...",0,0,0

In [21]:
## Function to seperate date and time from date column
def seperate_date_time(date):
    date_split = date.split(' ')
    date_ = date_split[0]
    time = date_split[1]
    return date_, time

df['date_'], df['time'] = zip(*df['date'].apply(seperate_date_time))
df.head()

,date,timezone,tweet,nlikes,nreplies,nretweets,date_,time
0,2022-01-31 05:29:49,530,#ShibDoge The first community driven token cre...,2,0,1,2022-01-31,05:29:49
1,2022-01-31 05:29:40,530,January is over and what’s up #dogecoin what’s...,0,0,0,2022-01-31,05:29:40
2,2022-01-31 05:29:39,530,@BurgerKingUK What I’m telling you is that the...,4,0,0,2022-01-31,05:29:39
4,2022-01-31 05:29:16,530,You should be mega proud of yourself and your ...,0,0,0,2022-01-31,05:29:16
6,2022-01-31 05:28:45,530,"@Gotteeth23 Typical Dogecoin supporter, you ne...",0,0,0,2022-01-31,05:28:45

In [22]:
## Export data
df.to_csv(data_loc + 'dogecoin_cleaned.csv', index=False)